Source: mobuco
Package: mobuco
Version: __VERSION__
Section: misc
Maintainer: Andrey Skrypka <rksdna@mail.ru>
Installed-Size: 10
Homepage: http:/www.mobuco.com
Priority: extra
Architecture: amd64
Depends: libc6-dev
Description: Special package.
 No description.
